.bottoneNav:hover
{ 
    background-color: #e8680c;
    
}

.bottoneNav
{ 
    background-color: #f59300;
    
}

.navbar-brand-container {
    display: flex;
    align-items: center;
    margin-right: auto; /* Sposta il logo a sinistra */
}
