/* .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%; /* Imposta la larghezza di ciascuna sezione del footer */
/* }

.footer-section h3 {
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
} */ 
